* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font: 500 10px Montserrat, sans-serif;
    background-color: #F5F7FA;
    margin: 40px 8px;
}

.container {
    display: flex;
    background-color: white;
    width: 625px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 625px;
    }

    .sidebar {
        display: flex;
        width: 100%;
        height: 690px;
        color: white;
        padding: 45px 25px 45px 55px;
        position: relative;
    }

    .sidebar-title {
        display: inline-block;
        position: absolute;
        top: 76px;
        left: 265px;
    }

    .sidebar-title__name {
        font: 500 28px Montserrat, sans-serif;
        margin-bottom: 5px;
        margin-right: 20px;
    }

    .sidebar-title__name_bold {
        font-weight: 800;
    }

    .sidebar-title__position {
        color: #dedede;
        font: 600 14px Montserrat, sans-serif;
    }

    .main {
        position: relative;
        padding: 50px;
    }

    .title,
    .triangle {
        display: none;
    }

    .photo {
        width: 120px;
        height: 120px;
        border: 5px solid white;
        border-radius: 5px;
        margin-right: 10px;
    }

    .contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 540px;
        position: absolute;
        top: 222px;
    }

    .contacts__title {
        flex: 1 1 100%;
    }

    .contact__element:hover {
        font-weight: 500;
    }

    .contact__element {
        width: 130px;
        margin-right: 30px;
    }

    .hard-skills {
        position: absolute;
        top: 320px;
    }

    .soft-skills {
        position: absolute;
        top: 320px;
        left: 250px;
    }

    .education {
        position: absolute;
        top: 320px;
        left: 440px;
    }

    .english {
        position: absolute;
        top: 585px;
        left: 250px;
    }

    .hard-skills__list,
    .soft-skills__list {
        width: 170px;
    }

    .position,
    .period,
    .english__elem,
    .hard-skills__elem,
    .soft-skills__elem,
    .contact__link {
        font-size: 10px;
    }

    .position {
        line-height: 15px;
    }

    .main__description {
        font-size: 12px;
        line-height: 20px;
    }
}

@media (max-width: 628.98px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .sidebar-title__name {
        font-size: 36px;
    }

    .sidebar-title__position {
        font-size: 20px;
    }

    .photo {
        width: 170px;
        height: 170px;
    }

    .main__description,
    .social__title {
        font-size: 16px;
        line-height: 25px;
        text-align: left;
    }

    .work-position,
    .work-period {
        font-size: 14px;
    }

    .work-position {
        margin-right: 10px;
    }

    .work-company {
        font-size: 14px;
    }

    .main__title,
    .contacts__title,
    .hard-skills__title,
    .soft-skills__title,
    .education__title,
    .english__title {
        font-size: 26px;
        font-weight: bold;
    }

    .contacts,
    .hard-skills,
    .soft-skills,
    .education,
    .english {
        width: auto;
        position: static;
    }

    .contact__element {
        width: 100%;
        margin-bottom: 20px;
    }

    .education {
        margin-bottom: 0;
    }

    .education__item {
        margin-bottom: 40px;
    }

    .education-name {
        font-size: 20px;
    }

    .hard-skills__list, .soft-skills__list {
        width: 100%;
    }

    .position,
    .period,
    .english__elem,
    .hard-skills__elem,
    .soft-skills__elem,
    .contact__link {
        font-size: 16px;
        line-height: 20px;
    }

    .social__icons {
        border: 1px solid white;
        width: 30px;
        height: 30px;
        margin-left: 28px;
    }

    .social__icons:hover {
        border: none;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 555px) {
    .sidebar {
        padding: 45px 40px 45px 40px;
    }

    .sidebar-title {
        position: static;
        margin-bottom: 40px;
    }

    .photo {
        width: 200px;
        height: auto;
    }
}